.app{
    .slide {
    position: absolute;
    bottom: -92%;
    height: 100%;
    width: 100%;
    background: rgb(210, 210, 240);
    opacity: 100;
    height:15;
    -webkit-transition: all 1s, -webkit-transform 1s;
    transition: all 1s, transform 1s;
}

.slided {
    position: absolute;
    background:rgb(210, 210, 240) ;
    bottom: 0;
    -webkit-transition: all 1s, -webkit-transform 1s;
    transition: all 1s, transform 1s;
    width: 100%;
    height: 80%;
    opacity: 1;
}
.circle1{
    border-radius: 100%;
    width: 10px;
    height: 10px;
    margin-left: 5px !important;
    float: right;
}

.elip{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    direction: rtl;
}
.button{
    text-decoration: none !important;
    margin-right: 5px;
}
.center{
    text-align: center !important;
    justify-content: center !important;
    display: flex;
}
.cardf{
    transition: all 300ms;
    position: relative;
        
        overflow: hidden;
        border-radius: 10px;
}
.cardf:hover{
    border-color:rgba(0, 0, 0, 0.19) ;
    box-shadow: 0px 0px 10px 3px rgb(163, 156, 156);
    transition: all 300ms;
}
.text{
    text-decoration: none !important;
    text-align: center !important;
    justify-content: center !important;
}}